<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="theme-color" content="#291f52">
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/mdb.rtl.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font_awesome/all.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='fonts/Yekan.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='fonts/Shabnam.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    {% block header_styles %}
    {% endblock %}
</head>
<body style="background: rgb(228,228,228);">

<div class="container-fluid {% block container_attrs %}p-0 m-0{% endblock container_attrs %}" {% block container_styles %}style="min-height: 100vh;"{% endblock %}>
    {% block contents %}{% endblock %}
</div>

<script src="{{ url_for('static', filename='js/mdb.min.js') }}"></script>
</body>
</html>