@font-face {
	font-family: 'Shabnam';
	src: url(Shabnam.eot) format('embedded-opentype'),
	url(Shabnam.eot) format('embedded-opentype'),
	url(Shabnam.woff) format('woff'),
	url(Shabnam.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

