<footer class="py-5 px-2 footer-setup">
    <div class="row gx-0 justify-content-center">
        <div class="col-auto px-1">
            <a class="btn btn-primary btn-lg btn-floating" href="#"><i class="fab fa-2x fa-telegram"></i></a>
        </div>
        <div class="col-auto px-1">
            <a class="btn btn-primary btn-lg btn-floating" href="#"><i class="fab fa-2x fa-instagram"></i></a>
        </div>
        <div class="col-auto px-1">
            <a class="btn btn-primary btn-lg btn-floating" href="#"><i class="fab fa-2x fa-discord"></i></a>
        </div>
    </div>
    <p class="text-center mt-2" style="color: white;">ما را در شبکه های اجتماعی دنبال کنید</p>
</footer>