{% extends "base/pages/site_base_with_footer_header_navbar.html" %}

{% from "base/generators/g_site_post.html" import generate_posts %}
{% from "base/generators/g_site_last_posts.html" import generate_last_posts_card %}
{% from "base/generators/g_site_search_form.html" import generate_search_bar %}
{% from "base/generators/g_site_paginate.html" import generate_pagination %}

{% block header_contents %}
    <meta name="description" content="FlaskFa - بهترین سایت آموزش Flask">
{% endblock %}

{% if data.get('title', None) %}
    {% set title = data.get('title', None) %}
{% elif not data.get('title', None) %}
    {% set title = 'Home' %}
{% endif %}


{% block title %}FlaskFa - {{ title }}{% endblock %}
{% block container_attrs %}p-2 m-0{% endblock %}
{% block contents %}
    <div class="row gx-0">
        <div class="col-md-8">
            <div class="row gx-0">
                {{ generate_posts(data.get('posts_info')) }}
            </div>
            {{ generate_pagination(data.get('posts_info'), data.get('page_numbers')) }}
        </div>
        <div class="col-md-4 p-2">
            {{ generate_search_bar(search_form) }}
            {{ generate_last_posts_card(last_posts) }}
        </div>
    </div>
{% endblock %}